.DigitomBox{
    background: linear-gradient(112deg, #991b1b  2.19%, rgba(111, 40, 40, 0.2) 95%);
    stroke-width: 2px;
    stroke: #FFF;
    /* filter: drop-shadow(0px -20px 60px rgba(59, 71, 95, 0.60)) drop-shadow(0px 20px 60px rgba(16, 20, 28, 0.60)); */
    backdrop-filter: blur(50px);
}

.SchneiderBox{
    background: linear-gradient(112deg,rgba(110, 193, 28, 0.20) 2.19%, rgba(80, 111, 40, 0.20) 95%);
    stroke-width: 2px;
    stroke: #FFF;
    /* filter: drop-shadow(0px -20px 60px rgba(59, 71, 95, 0.60)) drop-shadow(0px 20px 60px rgba(16, 20, 28, 0.60)); */
    backdrop-filter: blur(50px);
}

.AymingBox{
    background: linear-gradient(112deg,rgba(28, 39, 193, 0.2) 2.19%, rgba(40, 56, 111, 0.2) 95%);
    stroke-width: 2px;
    stroke: #FFF;
    /* filter: drop-shadow(0px -20px 60px rgba(59, 71, 95, 0.60)) drop-shadow(0px 20px 60px rgba(16, 20, 28, 0.60)); */
    backdrop-filter: blur(50px);
}
